<div>
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class='py-12'>
  <% if current_user %>
    <p class='mb-4'>Connected as <strong><%= current_user.email %></strong></p>
    <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'border border-black rounded-lg bg-gray-300	px-4 py-2' %>
  <% else %>
    <%= link_to 'Log in', user_session_path, class: 'border border-black rounded-lg bg-gray-300	px-4 py-2' %>
  <% end %>
</div>